.card {
    width: 100%;
    min-height: 180px;

    perspective: 1000px;

    &,
    &__content {
        transition: 0.6s;
        transform-style: preserve-3d;
        position: relative;
    }

    &:hover .card__content {
        transform: rotateY(180deg);
    }

    &__front,
    &__back {
        width: 100%;
        padding: 10px;

        backface-visibility: hidden;
        position: absolute;
        top: 0;
        left: 0;

        border-radius: 10px;
    }

    &__front {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;

        z-index: 2;
        transform: rotateY(0deg);

        // box-shadow: 0 8px 24px rgba($colors-secondary, 0.2);
    }

    &__image {
        height: 90px;

        img {
            display: block;
            width: 100%;
            max-width: 100%;
            height: auto;
        }
    }

    &__title {
        font-size: 20px;
        color: $colors-secondary;
        font-weight: 700;
        text-align: center;
    }

    &__back {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.4;
        color: $colors-primary;
        text-align: center;

        background-color: $colors-additional;
        transform: rotateY(180deg);
    }
}
