.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;

    &--header {
        @media (max-width: $sm) {
            .contacts__icon {
                display: none;
            }
        }
    }

    &--footer {
        .contacts__item {
            color: $colors-primary;
        }
    }

    &__item {
        display: flex;
        align-items: center;

        font-size: 18px;
        font-weight: 700;
        color: $colors-secondary;
    }

    &__icon {
        margin-right: 10px;
    }
}
