.footer {
    background-color: #555;

    &__inner {
        padding: 20px 0;

        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 50px;

        font-size: 20px;
        color: $colors-primary;

        @media (max-width: $md) {
            flex-direction: column;
        }
    }

    &__privacy-policy {
        text-decoration: underline;
    }
}
