.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;

    background-color: $colors-primary;

    box-shadow: 0 5px 15px 2px rgba($colors-secondary, 0.3);
    &__inner {
        display: flex;
        justify-content: space-between;

        padding: 5px 0;
    }
}
