.section {
    &--showcase {
        min-height: 590px;

        background-image: url('../img/section/showcase/bg.png');

        animation: bg-shift 120s linear infinite;

        .section__inner {
            padding: 100px 0;
        }

        .section__header {
            max-width: 60%;
        }
    }

    &--offer {
        position: relative;

        overflow-x: hidden;

        .section__decor {
            position: absolute;
            top: 0;
            right: -20%;
        }
        .section__inner {
            display: flex;
            padding: 100px 0;
        }

        .section__content {
            width: 50%;
        }

        .section__header {
            width: 50%;
        }
    }

    &--about {
        position: relative;

        overflow: hidden;

        .section__decor {
            position: absolute;
            top: 0;
            left: -20%;
        }

        .section__inner {
            padding: 100px 0;
        }

        .section__content {
            margin-top: 70px;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-auto-rows: auto;
            gap: 30px;
        }
    }

    &--pickup {
        .section__content {
            margin-top: 100px;
        }
    }

    &--services {
        .section__content {
            display: flex;
            justify-content: space-around;
            gap: 40px;
        }

        .section__list {
            display: flex;
            flex-direction: column;
            gap: 5px;
        }

        .section__list-item {
            font-size: 20px;

            color: $colors-additional;
        }
    }

    &__inner {
        padding: 100px 0;
    }

    &__title {
        position: relative;

        margin-bottom: 40px;

        font-size: 45px;
        color: $colors-additional;
    }

    &__subtitle {
        margin-bottom: 20px;

        font-size: 25px;
        font-weight: 700;
        line-height: 1.4;
        color: $colors-secondary;
    }
}

@keyframes bg-shift {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 2000px 0;
    }
}
