.swiper {
    padding-bottom: 50px;
    margin-bottom: 50px;

    &--printing {
    }

    &--postprinting {
    }
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-image {
    img {
        display: block;
        max-width: 100%;
        height: auto;
        max-height: 265px;
    }
}

.swiper__container {
    position: relative;
    padding: 0 50px;

    @media (max-width: $sm) {
        padding: 0;
    }
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    @media (max-width: $sm) {
        display: none;
    }
}

.swiper-button-prev {
    position: absolute;
    left: 0;
}
.swiper-button-next {
    right: 0;
}

.swiper-pagination {
    // margin-bottom: 0px;
}
