.swiper {
    &--printing {
        margin-bottom: 100px;
    }

    &--postprinting {
    }
}

.swiper-slide {
}

.swiper-image {
    img {
        display: block;
        max-width: 100%;
        height: auto;
        max-height: 265px;
    }
}

.swiper-pagination {
}
