<footer class="footer">
    <div class="container">
        <div class="footer__inner">
            <a href="#" class="footer__privacy-policy">Политика конфиденциальности</a>

            <div class="contacts contacts--footer footer__contacts">
                <span class="contacts__item">
                    <picture>
                        <source srcset="img/icons/tel.webp">
                        <img src="img/icons/tel.png" class="contacts__icon" alt="">
                    </picture>
                    <a href="tel:+79161891707">+7 (916) 189-17-07</a>
                </span>
                <span class="contacts__item">
                    <picture>
                        <source srcset="img/icons/mail.webp">
                        <img src="img/icons/mail.png" class="contacts__icon" alt="">
                    </picture>
                    <a href="mailto:stodruzey100@yandex.ru">stodruzey100@yandex.ru</a>
                </span>
            </div>
        </div>
    </div>
</footer>