// normalize css
@import 'vendor/normalize.scss';

// vars
@import 'vars.scss';

// fonts
@import 'fonts.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;

    font-family: $family;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.highlight {
    color: $colors-additional;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

// components
@import 'components/header.scss';
@import 'components/contacts.scss';
@import 'components/container.scss';
@import 'components/section.scss';
@import 'components/advantages.scss';
@import 'components/footer.scss';
